server:
  port: 8080

spring:
  datasource:
    url: jdbc:mariadb://localhost:3310/backend_mvp
    username: root
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true
